In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.model_selection import train_test_split , cross_val_score
from sklearn.metrics import r2_score , mean_squared_error , mean_absolute_error,accuracy_score

## Loading  5000 Data Sets

In [2]:
x_gc = pd.read_csv("../trgc10000.csv",nrows = 5000)
x_gc = x_gc.iloc[:,1:]

x_rl = pd.read_csv("../tsrl10000.csv",nrows = 5000)
x_rl = x_rl.iloc[:,1:]

y = pd.read_csv("../srlbininfo_10000",sep ="\t",header =None,nrows = 5000)
y = pd.DataFrame(y.iloc[:,1])

In [3]:
x_gc.shape, x_rl .shape , y.shape

((5000, 10332), (5000, 3880), (5000, 1))

In [4]:
#Check Weather all Data Ready Or Not
display(x_gc.head(2))
display(x_rl.head(2))
display(y.head(2))

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V10323,V10324,V10325,V10326,V10327,V10328,V10329,V10330,V10331,V10332
0,0.879025,0.687329,0.983194,0.970820,0.900728,0.735702,0.960757,1.074772,1.597032,1.156174,...,0,0,0,0,0,0,0,0,0,0
1,0.869801,0.620215,1.008849,0.926203,0.884105,0.884811,1.020117,0.987255,1.335856,1.170143,...,0,0,0,0,0,0,0,0,0,0

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V3871,V3872,V3873,V3874,V3875,V3876,V3877,V3878,V3879,V3880
0,1.179333,1.334434,1.403288,1.541632,1.325201,1.101396,1.096208,1.169582,1.201159,1.145272,...,0,0,0,0,0,0,0,0,0,0
1,1.148473,1.422455,1.373932,1.515307,1.337463,1.077379,1.061001,1.157020,1.258965,1.140321,...,0,0,0,0,0,0,0,0,0,0

           1
0  19.052706
1  17.772070

## Training Ridge Regression on RL & GC data Set Seprately

In [6]:
from sklearn.linear_model import Ridge
ridge_gc = Ridge(alpha=0.9,normalize = True ,max_iter = 10).fit(x_gc ,y)

In [7]:
from sklearn.linear_model import Ridge
ridge_rl = Ridge(alpha=0.9,normalize = True ,max_iter = 10).fit(x_rl ,y)

In [9]:
from sklearn.linear_model import BayesianRidge
bay_gc = BayesianRidge(tol=0.0001).fit(x_gc,y)
bay_rl = BayesianRidge(tol=0.0001).fit(x_rl,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
ffy_bay_gc = pd.DataFrame(bay_gc.predict(test_gc))
ffy_bay_rl = pd.DataFrame(bay_rl.predict(test_rl))    
ffy_bay_combined =  (ffy_bay_gc + ffy_bay_rl)/2

### Import Old 900 Data seprately and Predict

In [11]:
test_gc = pd.read_csv("../trgc900.csv")
test_gc = test_gc.iloc[:,1:]
#
test_rl = pd.read_csv("../tsrl900.csv")
test_rl = test_rl.iloc[:,1:]

ffy = pd.read_csv("../ffyrgc900.csv")
ffy = ffy.iloc[:,[1]]

df_old = pd.read_csv("../corr_out_900",sep="\t",nrows=900)
df_old = df_old.iloc[:,1:]
y_pred_old = df_old["Predicted FF"].astype(float)*100

display(test_gc.head(2))
display(test_rl.head(2))
ffy.head()
#Check the size and sample

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V10323,V10324,V10325,V10326,V10327,V10328,V10329,V10330,V10331,V10332
0,0.772149,0.751550,1.081910,0.970322,0.867779,0.857297,0.951682,1.032982,1.507591,1.074040,...,0,0,0,0,0,0,0,0,0,0
1,0.912433,0.634594,0.989368,0.963383,0.869248,0.768049,1.072011,1.010196,1.425980,1.171149,...,0,0,0,0,0,0,0,0,0,0

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V3871,V3872,V3873,V3874,V3875,V3876,V3877,V3878,V3879,V3880
0,1.243492,1.281750,1.351353,1.944306,1.362875,1.183868,0.981580,1.160688,1.241449,1.104518,...,0,0,0,0,0,0,0,0,0,0
1,1.125272,1.293847,1.233437,1.793121,1.146769,1.052595,0.989157,1.123965,1.194525,1.180670,...,0,0,0,0,0,0,0,0,0,0

         V1
0  0.117575
1  0.121101
2  0.087606
3  0.085928
4  0.114924

## Predict FF seprately GC_Model and RL_Model

In [13]:
ffy_gc = pd.DataFrame(ridge_gc.predict(test_gc))
ffy_rl = pd.DataFrame(ridge_rl.predict(test_rl))
ffy_combined = (ffy_gc +ffy_rl)/2

In [18]:
#y_test_old.head() # Is same as test_y
#y_pred_old.head()
print("Co rrelation New Model Bay GC Only",stats.pearsonr(ffy["V1"],ffy_bay_gc[0])[0])
print("Co rrelation New Model Bay RL Only",stats.pearsonr(ffy["V1"],ffy_bay_rl[0])[0])
print("")
print("Co rrelation with New Model Bay Combined",stats.pearsonr(ffy["V1"],ffy_bay_combined[0])[0])
print("Co rrelation with New Model Combined ",stats.pearsonr(ffy["V1"],ffy_combined[0])[0])
print("Co relation with Old Model Combined" ,stats.pearsonr(ffy["V1"],y_pred_old)[0])

Co rrelation New Model Bay GC Only 0.8589275911277636
Co rrelation New Model Bay RL Only 0.8395764607408394

Co rrelation with New Model Bay Combined 0.9058894641110475
Co rrelation with New Model Combined  0.9068002993237334
Co relation with Old Model Combined 0.9101507263893258