In [1]:
# Import Model
from __future__ import absolute_import, division, print_function , unicode_literals

import pathlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras

from tensorflow.keras import layers
print(tf.__version__)

from scipy import stats

2.1.0

In [3]:
#!pip install -q git+https://github.com/tensorflow/docs
import tensorflow_docs as tfdocs
import tensorflow_docs.modeling
import tensorflow_docs.plots

In [17]:
x_rl = pd.read_csv("../tsrl900.csv")
x_rl = x.iloc[:,1:]

x_rl["Read_length"] = x_rl.index.map(lambda _ : sum(x_rl.iloc[_,:])/300)
x_rl = x_rl.loc[:,["Read_length"]]
y = pd.read_csv("../ffyrgc900.csv")
y = y.loc[:,["V1"]]

In [21]:
display(x_rl.head())
display(y.head())

   Read_length
0    11.159839
1    11.170855
2    11.156872
3    11.150271
4    11.169866

         V1
0  0.117575
1  0.121101
2  0.087606
3  0.085928
4  0.114924

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error , accuracy_score

In [23]:
x_train,x_test, y_train, y_test = train_test_split(x_rl,y,test_size = 0.2)

In [24]:
lr = LinearRegression().fit(x_train, y_train)
y_pred = pd.DataFrame(lr.predict(x_test))

In [57]:
x_train.shape, x_test.shape

((720, 1), (180, 1))

In [26]:
print(lr.score(x_test, y_pred))
print("Mean Square Error", mean_squared_error(y_test , pd.DataFrame(y_pred)))
print("Mean Absolute Error", mean_absolute_error(y_test , pd.DataFrame(y_pred)))
print(stats.pearsonr(y_test.V1 , y_pred[0]))

1.0
Mean Square Error 0.00041232353225870925
Mean Absolute Error 0.014428669574985273
(0.8772845629414902, 1.2259385642913405e-58)

In [53]:
y_pred.columns = ["Predicted"]
y_pred.head(10)

   Predicted
0   0.074465
1   0.095660
2   0.112505
3   0.067492
4   0.098507
5   0.056772
6   0.076048
7   0.117561
8   0.116520
9   0.142873

In [52]:
y_test.head(10)

           V1
306  0.076983
452  0.093177
858  0.109271
98   0.091157
836  0.094630
149  0.070998
155  0.075693
724  0.098873
493  0.109345
517  0.145056

In [54]:
y_test.tail()

           V1
859  0.258164
752  0.171998
845  0.033758
411  0.093176
535  0.125835

In [55]:
y_pred.tail()

     Predicted
175   0.192537
176   0.142603
177   0.043945
178   0.075108
179   0.122151