In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [3]:
!ls ../

Bio_DeepLearning
DL2.ipynb
GC_df_10000.csv
Git_Hub_Example
Parameter_from_original
RL_df_10000.csv
corr_out_900
corr_out_rgc
datas
enet_pred.csv
ffyrgc1000.csv
ffyrgc500.csv
ffyrgc900.csv
gcbininfo_10000.csv
rgcbininfo_1000
rgcbininfo_10000
rgcbininfo_900
srlbininfo_10000
srlbininfo_800
temptrainparargc10000.csv
tensorflow_basic.ipynb
trgc1000.csv
trgc10000.csv
trgc500.csv
trgc900.csv
tsrl10000.csv
tsrl500.csv
tsrl900.csv

In [91]:
x = pd.read_csv("../tsrl10000.csv")
x = x.iloc[:,1:]
y_ = pd.read_csv("../srlbininfo_10000",sep="\t",header=None)
#y = round(y.iloc[:,[1]]*100).astype("int")
y_.columns = ["Name",'RL']

y = pd.DataFrame(y_.RL)

In [92]:
y.head(2)

          RL
0  19.052706
1  17.772070
2  16.200000
3  14.987733
4  17.656184

In [93]:
x.head(2)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V3871,V3872,V3873,V3874,V3875,V3876,V3877,V3878,V3879,V3880
0,1.179333,1.334434,1.403288,1.541632,1.325201,1.101396,1.096208,1.169582,1.201159,1.145272,...,0,0,0,0,0,0,0,0,0,0
1,1.148473,1.422455,1.373932,1.515307,1.337463,1.077379,1.061001,1.157020,1.258965,1.140321,...,0,0,0,0,0,0,0,0,0,0
2,1.189828,1.341258,1.318985,1.428393,1.231587,1.093561,1.002102,1.112995,1.176748,1.116133,...,0,0,0,0,0,0,0,0,0,0
3,1.095742,1.303067,1.227491,1.432205,1.205396,1.127021,1.086715,1.131803,1.191169,1.112259,...,0,0,0,0,0,0,0,0,0,0
4,1.165233,1.305064,1.343262,1.398126,1.262697,1.171491,1.112898,1.185458,1.221431,1.107177,...,0,0,0,0,0,0,0,0,0,0

### Import the Model

In [94]:
y.RL = y.RL.apply(lambda x: 5 if x<5 else (10 if x>10 else x))
#
#Convert y Column to Categorical Data 
# Our Rule is below 5 is  5 
#5~6 6 
#6~7 7
#7`8 8
#8~9 9 
#> 10 is 10

In [95]:
y.RL.unique()

array([10.        ,  7.96729145,  7.8497165 , ...,  9.48945408,
        5.30158145,  7.96209451])

### Using Ridge Regression

In [96]:
from sklearn.model_selection import train_test_split , cross_val_score
from sklearn.metrics import r2_score , mean_squared_error
from sklearn.metrics import accuracy_score ,mean_absolute_error
from scipy import stats

In [97]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2,random_state =5, shuffle = True )

In [98]:
from sklearn.linear_model import Ridge
clf_ridge = Ridge(alpha=0.9).fit(x_train,y_train)

y_predict_ridge = pd.DataFrame(clf_ridge.predict(x_test)).astype(int)
print("Correlation with Bay Reg Pred",stats.pearsonr(y_test["RL"],pd.DataFrame(clf_ridge.predict(x_test))[0])[0])

Correlation with Bay Reg Pred 0.7170971441669945

### Very Poor Result although By Classification

In [104]:
y_.RL.astype(int)

0       19
1       17
2       16
3       14
4       17
        ..
9995     7
9996     3
9997    11
9998    14
9999    14
Name: RL, Length: 10000, dtype: int32