## import library

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

from sklearn.model_selection import train_test_split , cross_val_score
from sklearn.metrics import r2_score , mean_squared_error
from sklearn.metrics import accuracy_score ,mean_absolute_error

### Read Length Data

In [3]:
x = pd.read_csv("../tsrl10000.csv")
x = x.iloc[:,1:]
y = pd.read_csv("../srlbininfo_10000",sep ="\t",header =None )

y = pd.DataFrame(y.iloc[:,1])
y.columns = ["RL"]

df = pd.concat([y,x],axis =1)

df = df[df.RL < 20] #Ignore values more than 25
y = pd.DataFrame(df.iloc[:,0])
x = df.iloc[:,1:]

## Split Both data sets into train and test set

In [4]:
x_train,x_test,y_train, y_test= train_test_split(x,y,test_size = 0.25)


x_train.shape,y_train.shape, x_test.shape , y_test.shape

((7347, 3880), (7347, 1), (2450, 3880), (2450, 1))

## We Only Choose some Methods Only

## Ridge Regression

In [5]:
name = "Ridge -->"
from sklearn.linear_model import Ridge
clf_ridge = Ridge(alpha=0.3)
clf_ridge.fit(x_test,y_test)
y_pred_ridge = pd.DataFrame(clf_ridge.predict(x_test))

In [6]:
#print(name +" Coefficient ", lr.coef_) 
print(name + " Intercept " , clf_ridge.intercept_) ##
print("****"*5+"Accuracy Test Model Fitting "+"****"*5)
print(name + "Score for train data set :",clf_ridge.score(x_train,y_train))
print(name + "Score for test data Set",clf_ridge.score(x_test,y_test))

print(name + "Score for Predictecd data Set",clf_ridge.score(x_test,y_pred_ridge)) ##

print("\n"+"****"*5+"R2 Score"+"****"*5)
print(name + "R2 Score for test is = ", r2_score(y_test, y_pred_ridge)) ##

print("\n"+"****"*5+"Mean Absolute Error"+"****"*5)
print(name+ "Mean Absolute Error of Test = ", mean_absolute_error(y_test,y_pred_ridge))  ##

print("\n"+"****"*5+" Mean Squared Error"+"****"*5)
print(name + "Mean Squared Error of Test = ",mean_squared_error(y_test,y_pred_ridge)) ##

print(name + "Correlation ",stats.pearsonr(y_test["RL"],y_pred_ridge[0])[0])

Ridge --> Intercept  [-1740.22122935]
********************Accuracy Test Model Fitting ********************
Ridge -->Score for train data set : 0.45608511382067396
Ridge -->Score for test data Set 0.9901641408211667
Ridge -->Score for Predictecd data Set 1.0

********************R2 Score********************
Ridge -->R2 Score for test is =  0.9901641408211668

********************Mean Absolute Error********************
Ridge -->Mean Absolute Error of Test =  0.27390873237519625

******************** Mean Squared Error********************
Ridge -->Mean Squared Error of Test =  0.12946033741629265
Ridge -->Correlation  0.9955169439618671

In [7]:
y_pred_ridge.head()

           0
0   5.879062
1  10.115329
2  17.627775
3   3.204859
4   4.607204

In [8]:
#y_test.reset_index(drop=True,inplace=True)
#y_test=y_test["RL"]
#y_test = pd.DataFrame(y_test)
#df = y_test.merge(y_pred_ridge,how = "outer")
#df

## RidgeCV

In [9]:
# Import Library
from sklearn.linear_model import RidgeCV
name = "RidgeCV --> "
#Object Creation
clf_ridgecv = RidgeCV(alphas= [1e-3, 1e-2, 1e-1, 1]).fit(x_train , y_train)
y_pred_ridgecv = pd.DataFrame(clf_ridgecv.predict(x_test))

In [10]:
#print(name +" Coefficient ", lr.coef_) 
print(name + " Intercept " , clf_ridgecv.intercept_) ##
print("****"*5+"Accuracy Test Model Fitting "+"****"*5)
print(name + "Score for train data set :",clf_ridgecv.score(x_train,y_train))
print(name + "Score for test data Set",clf_ridge.score(x_test,y_test))

print(name + "Score for Predictecd data Set",clf_ridge.score(x_test,y_pred_ridge)) ##

print("\n"+"****"*5+"R2 Score"+"****"*5)
print(name + "R2 Score for test is = ", r2_score(y_test, y_pred_ridge)) ##

print("\n"+"****"*5+"Mean Absolute Error"+"****"*5)
print(name+ "Mean Absolute Error of Test = ", mean_absolute_error(y_test,y_pred_ridge))  ##

print("\n"+"****"*5+" Mean Squared Error"+"****"*5)
print(name + "Mean Squared Error of Test = ",mean_squared_error(y_test,y_pred_ridge)) ##

print(name + "Correlation ",stats.pearsonr(y_test["RL"],y_pred_ridge[0])[0])

RidgeCV -->  Intercept  [-1981.58151669]
********************Accuracy Test Model Fitting ********************
RidgeCV --> Score for train data set : 0.8825439496267802
RidgeCV --> Score for test data Set 0.9901641408211667
RidgeCV --> Score for Predictecd data Set 1.0

********************R2 Score********************
RidgeCV --> R2 Score for test is =  0.9901641408211668

********************Mean Absolute Error********************
RidgeCV --> Mean Absolute Error of Test =  0.27390873237519625

******************** Mean Squared Error********************
RidgeCV --> Mean Squared Error of Test =  0.12946033741629265
RidgeCV --> Correlation  0.9955169439618671

In [11]:
y_test

             RL
5348   6.021355
6913  10.211771
7260  18.383391
2647   3.375872
8098   4.320000
...         ...
7018   9.655464
2638   7.488776
3733   8.145588
3863  10.638517
9215   9.414541

[2450 rows x 1 columns]

In [12]:
y_pred_ridge

              0
0      5.879062
1     10.115329
2     17.627775
3      3.204859
4      4.607204
...         ...
2445   9.789325
2446   7.774764
2447   8.889286
2448  10.327429
2449   9.212575

[2450 rows x 1 columns]

***

## Bayesian Ridge

### May take long time

In [ ]:
#import library
from sklearn.linear_model import ARDRegression

name  = "ARDRegression"
clf_ard = ARDRegression()

clf_ard.fit(x_train,y_train)
pred_y_ard = clf.predict(x_test)

In [ ]:
#print(name +" Coefficient ", lr.coef_) 
print(name + " Intercept " , clf_ridge.intercept_) ##
print("****"*5+"Accuracy Test Model Fitting "+"****"*5)
print(name + "Score for train data set :",clf_ridge.score(x_train,y_train))
print(name + "Score for test data Set",clf_ridge.score(x_test,y_test))

print(name + "Score for Predictecd data Set",clf_ridge.score(x_test,y_pred_ridge)) ##

print("\n"+"****"*5+"R2 Score"+"****"*5)
print(name + "R2 Score for test is = ", r2_score(y_test, y_pred_ridge)) ##

print("\n"+"****"*5+"Mean Absolute Error"+"****"*5)
print(name+ "Mean Absolute Error of Test = ", mean_absolute_error(y_test,y_pred_ridge))  ##

print("\n"+"****"*5+" Mean Squared Error"+"****"*5)
print(name + "Mean Squared Error of Test = ",mean_squared_error(y_test,y_pred_ridge)) ##

print(name + "Correlation ",stats.pearsonr(y_test["RL"],y_pred_ridge[0])[0])