In [1]:
# Import Model
from __future__ import absolute_import, division, print_function , unicode_literals

import pathlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras

from tensorflow.keras import layers
print(tf.__version__)

from scipy import stats

2.1.0

In [2]:
#!pip install -q git+https://github.com/tensorflow/docs
import tensorflow_docs as tfdocs
import tensorflow_docs.modeling
import tensorflow_docs.plots

In [ ]:
# x_rl = pd.read_csv("../tsrl10000.csv")
# x_rl = x_rl.iloc[:,1:]

# x_gc = pd.read_csv("../trgc10000.csv")
# x_gc = x_gc.iloc[:,1:]

# y = pd.read_csv("../rgcbininfo_10000",sep = "\t",header=None)
# y = y.iloc[:,-1]

#####  Add all rows and make a new columns

In [ ]:
# x_rl["Read_length"] = x_rl.index.map(lambda _ : sum(x_rl.iloc[_,:])/300)
# x_rl = x_rl.iloc[:,-1]

# x_gc["Read_Count"] = x_gc.index.map(lambda _ : sum(x_gc.iloc[_, :]) / 80)
# x_gc = x_gc.iloc[:,-1]

##### Save the data so we can read later for fast processing

In [ ]:
# make a single data Frame
# df = pd.concat([x_rl, x_gc ,y], ignore_index = True,axis = 1)
# df.columns = ["Read_length", "GC_count", "FF"]

In [ ]:
# df.head()
# df.to_csv("../read_length_gc_count_ff.csv",index=False)

In [5]:
df =pd.read_csv("../read_length_gc_count_ff.csv")
y = df.loc[:,["FF"]]

In [20]:
df.head(20)

    Read_length    GC_count         FF
0     11.210215  111.232844  19.052706
1     11.206084  111.340903  17.772070
2     11.189647  111.400369  16.200000
3     11.192131  111.153783  14.987733
4     11.196457  111.273290  17.656184
5     11.154905  111.043795   7.967291
6     11.138693  111.033168   7.849717
7     11.181857  111.241458  14.039688
8     11.158535  111.100139  10.706711
9     11.199426  111.317688  18.689057
10    11.201124  111.314599  19.317674
11    11.173143  111.068568   7.594432
12    11.181476  111.194699  13.495284
13    11.177093  111.069525   7.273598
14    11.187169  111.065579  10.588152
15    11.156680  111.114904   3.932720
16    11.200110  111.277295  14.655614
17    11.200001  111.286520  15.175794
18    11.195736  111.163705  13.188355
19    11.183318  111.135251   9.421162

In [27]:
df.sort_values(by="Read_length").iloc[50:100,:]

      Read_length    GC_count        FF
3778    11.107329  110.960952  6.080000
8483    11.107664  111.127965  3.330000
3879    11.107726  111.072545  3.040000
1617    11.107850  110.980591  3.636070
9179    11.108003  111.005620  4.251046
4262    11.108193  111.065802  4.066127
9670    11.108268  111.003063  4.058712
1270    11.108295  110.937575  8.292924
9101    11.108299  111.007322  3.035751
8538    11.108349  110.997622  4.070000
4439    11.108370  110.952298  3.326144
3975    11.108663  110.916273  4.976249
1301    11.108692  110.998529  4.995328
9459    11.108867  111.054378  4.285154
6673    11.109027  111.015935  4.222853
4232    11.109043  111.023280  4.378471
9572    11.109165  110.943788  3.748088
6070    11.109281  111.002882  4.245827
2540    11.109285  110.972070  4.390826
4007    11.109306  111.054496  4.347753
1425    11.109308  111.021063  7.274951
2317    11.109321  111.073507  4.213129
3595    11.109405  111.117235  4.442606
2340    11.109523  111.025624  3.684268
7762    11.109582  111.171102  3.190000
5868    11.109590  110.990222  3.428635
2134    11.109594  111.003546  5.325500
2035    11.109620  111.112742  3.977698
3940    11.109799  111.104740  4.771455
4773    11.109924  111.059763  3.050450
1695    11.109930  111.052662  5.490556
1995    11.109951  110.997026  4.472394
4059    11.110167  111.038435  5.334671
7617    11.110300  111.130044  3.298707
5059    11.110511  110.995063  3.540000
3363    11.110636  111.350029  5.075865
1665    11.110644  111.049417  3.001819
1610    11.110677  111.092542  3.375598
6706    11.110891  111.005040  3.660157
4961    11.111130  111.045374  3.880527
5222    11.111173  110.812863  3.474120
3636    11.111334  111.013644  3.240000
6539    11.111335  110.968198  3.471559
1996    11.111350  110.967229  5.156808
2069    11.111659  111.074040  3.509462
955     11.111766  111.000709  3.331737
3742    11.111792  110.944441  4.058863
4771    11.111813  111.019290  3.097406
3211    11.111822  111.110926  3.632443
6353    11.111827  111.073620  5.706750

In [28]:
df.sort_values(by="GC_count").tail(20)

      Read_length    GC_count         FF
33      11.182093  111.645477  11.860000
1591    11.162768  111.654217  14.973567
2026    11.095913  111.656647   5.042519
3907    11.112969  111.674753   6.609822
3768    11.170516  111.704036  18.210904
387     11.194482  111.799899  17.504872
362     11.192703  111.801871  18.854774
1801    11.161286  111.817875  14.608380
2147    11.172433  111.876019  16.599602
4287    11.166967  111.883740  15.290000
2285    11.168824  111.918899  19.476267
2284    11.171037  111.923232  19.563304
5338    11.131994  111.939947   5.993541
1208    11.206623  112.006402  51.150000
567     11.200150  112.072437  19.542886
9368    11.184309  112.388556  21.016162
2723    11.155822  112.500767  67.940000
3852    11.098360  112.780925   4.480000
3851    11.083997  112.836002   4.090000
8324    11.146469  113.044016  16.350000

In [7]:
#x.iloc[:,0]
x = df.loc[:,["Read_length", "GC_count"]]
#df

In [9]:
x.head(2)

   Read_length    GC_count
0    11.210215  111.232844
1    11.206084  111.340903

In [10]:
y.head()

          FF
0  19.052706
1  17.772070
2  16.200000
3  14.987733
4  17.656184

In [ ]:
#x["Final"] = x.index.map(lambda _ : sum(x.iloc[_,:]))/3000

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error , accuracy_score

In [15]:
def split(test_size=0.2, random_state = 20):
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state =20)
    return x_train, x_test, y_train, y_test

###### Linear Regression

In [19]:
for i in range(100):
    final_score =0
    x_train, x_test, y_train, y_test = split(random_state=i)
    lr = LinearRegression().fit(x_train, y_train)
    y_pred = pd.DataFrame(lr.predict(x_test))
    
    score = lr.score(x_test, y_pred)
    if score > final_score:
        final_score = score
        print(lr.score(x_test, y_pred))
        print("Mean Square Error", mean_squared_error(y_test , pd.DataFrame(y_pred)))
        print("Mean Absolute Error", mean_absolute_error(y_test , pd.DataFrame(y_pred)))
        print(stats.pearsonr(y_test.FF , y_pred[0]))

1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0

Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)
1.0
Mean Square Error 4.7827746091792145
Mean Absolute Error 1.5204522406078944
(0.8424322123388029, 0.0)

In [ ]:
print(lr.score(x_test, y_pred))
print("Mean Square Error", mean_squared_error(y_test , pd.DataFrame(y_pred)))
print("Mean Absolute Error", mean_absolute_error(y_test , pd.DataFrame(y_pred)))
print(stats.pearsonr(y_test.FF , y_pred[0]))

##### Feature Scalling

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

In [ ]:
scaled_x_train = scaler.transform(x_train)
scaled_x_test = scaler.transform(x_test)

In [ ]:
slr = LinearRegression().fit(scaled_x_train,y_train)

In [ ]:
slr_pred = slr.predict(scaled_x_test)

In [ ]:
print("R2 Score for train set : {:.3f}".format(slr.score(scaled_x_test,slr_pred)))
print("Mean Square Error", mean_squared_error(y_test , pd.DataFrame(slr_pred)))
print("Mean Absolute Error", mean_absolute_error(y_test , pd.DataFrame(slr_pred)))

##### Ridge()

In [ ]:
from sklearn.linear_model import Ridge
for i in range(100):
    
    ridge = Ridge(alpha  = 0.1)
    ridge.fit(scaled_x_train, y_train)
    ridge_pred = ridge.predict(scaled_x_test)
    print("R2 Score",ridge.score(scaled_x_test,y_test))

In [ ]:
print("R2 Score",ridge.score(scaled_x_test,y_test))

In [ ]:
y_test.head(10)

## Split the data set into train and test

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train, y_test = train_test_split(x,y)
x_train.shape, y_train.shape , y_train.shape, y_test.shape

In [ ]:
x_ = np.array(x_train)
y_ = np.array(y_train)

## Keras Model

In [ ]:
n_inputs = x_train.shape[1]
n_inputs

## Create a Keras Model

In [ ]:
x_train.shape

In [ ]:
#optionally, the First layer can receive an input_shape argument
model = Sequential()
model.add(Dense(3880,input_shape = (3880,)))
model.add(Dense(32))

In [ ]:
# The below code is same as above
model = Sequential()
model.add(Dense(32, input_dim = 500))
model.add(Dense(1))

In [ ]:
# The below code is same as above
model = Sequential()
model.add(Dense(32,batch_input_shape = (None,500)))

## From Our Data

In [ ]:
from keras.models import Sequential 
# Import the Model

n_inputs = x_train.shape[1]
model = Sequential()
model.add(Dense(n_inputs))
model.add(Dense(32))
model.add(Dense(100,activation = "relu"))
model.add(Dense(10,activation="relu"))
model.add(Dense(1))

## Compile the Model

In [ ]:
model.compile(
    optimizer = "Nadam",
    loss = "mean_squared_error",
    metrics=None,
    loss_weights=None,
    sample_weight_mode = None,
    weighted_metrics= None,
    target_tensors = None)

* class **Adadelta** : Optimizer that implements the Adadelta algorithm.

* class **Adagrad**: Optimizer that implements the Adagrad algorithm.

* class **Adam**: Optimizer that implements the Adam algorithm.

* class **Adamax**: Optimizer that implements the Adamax algorithm.

* class **Ftrl**: Optimizer that implements the FTRL algorithm.

* class **Nadam**: Optimizer that implements the NAdam algorithm.

* class **Optimizer**: Updated base class for optimizers.

* class **RMSprop**: Optimizer that implements the RMSprop algorithm.

* class **SGD**: Stochastic gradient descent and momentum optimizer.

## Fit the Model

In [ ]:
x_train = np.array(x_train)
y_train = np.array(y_train)*100

In [ ]:
x_ = np.array(x_train)
y_ = np.array(y_train)

In [ ]:
model.fit(
    x=x_train,
    y=y_train,
    batch_size=None,    #Number of Sample per Gradient size
    epochs=5,          #Number of Epoch to train the 
    verbose=1,          # 0,1 or 2,Verbosity mode , 0 = Silent , 1 = Progress bar , 2 = one line per epoch
    callbacks=None,     # For more tf.keras.callbacks See below different options
    validation_split=0.0, # Float between 0 and 1, Fraction of Training Data to be used as validation Data
    validation_data=None, #data on which the loss and any model metrics at the end of each epoch. like (x_val,y_val)
    shuffle=True,        #Boolean weather to shuffle the training data before each epoch
    class_weight=None,   # Optional dictionary mapping class indices (integers) to a weight (float) value,
    sample_weight=None, #numpy array of Weight for the training samples, Used for weighting the loss function
    initial_epoch=0,   #Int,Epochat which to start training(Useful for resuming a previous training run)
    steps_per_epoch=None, #Int or None , Number of steps before declaring one epoch
    validation_steps=None, #Only relevant if Validation_data is provided 
    validation_freq=1,   #Only relevant if validation data is provided.Int or collections_abc.Container
    max_queue_size=10,
    workers=1,
    use_multiprocessing=False
)

In [ ]:
model.predict(x_train)

#### `callbacks`
`BaseLogger , CSVLogger , Callback , EarlyStopping , History , LambdaCallback , LearningRateScheduler , ModelCheckpoint , ProgbarLogger , ReduceLROnPlateau , RemoteMonitor , TensorBoard , TerminateOnNan`

## Predict the Model

In [ ]:
y = model.predict(x_test,
             batch_size = None,
             verbose =0,
             steps = None, 
             callbacks = None,
             workers =1,
             use_multiprocessing = False)

In [ ]:
y[:10]

## Model.evaluate()

In [ ]:
#  model.evaluate(
#      x=None,
#      y=None,
#      batch_size=None,
#      verbose=1,
#      sample_weight=None,
#      steps=None,
#      callbacks=None,
#      max_queue_size=10,
#      workers=1,
#      use_multiprocessing=False
#  )

### Save the Model

In [ ]:
#    model.save(
#        filepath,
#        overwrite=True,
#        include_optimizer=True,
#        save_format=None,
#        signatures=None,
#        options=None)

#### model.save_weights(filepath , overwrite = True , save_format = None)
#### model.summary(line_length = None, postitions = None , print_fn = None)
#### model.test_on_batch(x,y = None , sample_weight = None , reset_metrics = True)
#### model.to_jason(**kwargs)
#### model.to_yaml(**kwargs)
#### model.train_on_batch(x , y = None , sample_weight = None , class_weight =  None , reset_metrics = True)