In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split , cross_val_score
from sklearn import ensemble , tree , linear_model
from sklearn.metrics import r2_score ,  mean_squared_error

In [2]:

x = pd.read_csv("../tsrl10000.csv")
x = x.iloc[:,1:]

y = pd.read_csv("../srlbininfo_10000",sep ="\t",header = None)
y = pd.DataFrame(y.iloc[:,1])
y.columns = ["RL"]

df = pd.concat([y,x],axis =1)

df = df[df.RL < 25] #Ignore values more than 25

y = pd.DataFrame(df.iloc[:,0])
x = df.iloc[:,1:]
x.shape, y.shape , df.shape

((9977, 3880), (9977, 1), (9977, 3881))

In [3]:
x.shape, y.shape , df.shape

((9977, 3880), (9977, 1), (9977, 3881))

In [8]:
y.RL = y.RL.apply(lambda x : round(x))

TypeError: to_sql() missing 2 required positional arguments: 'name' and 'con'

## Split the data to training and Testing Set

In [13]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2) # 80 Training 20 test
x_train.shape,y_train.shape, x_test.shape , y_test.shape

((7981, 3880), (7981, 1), (1996, 3880), (1996, 1))

### Support Vector Classification
### Time Consuming

In [ ]:
y

In [14]:
from sklearn.svm import SVC
clf =  SVC(gamma = "auto")
clf.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [19]:
pred = clf.predict(x_test)

In [20]:
pred

array([10, 10, 10, ..., 10, 10, 10], dtype=int64)

### Decision Tree Regressor

In [21]:
y_test

      RL
6305   9
3245   6
8205   6
6615  11
8795   7
...   ..
7738  17
9808  15
803   12
2914   6
8726   8

[1996 rows x 1 columns]