In [5]:
import pandas as pd
import numpy as np
from scipy import stats

from sklearn.model_selection import train_test_split , cross_val_score
from sklearn.metrics import r2_score , mean_squared_error
from sklearn.metrics import accuracy_score ,mean_absolute_error

In [6]:
import warnings
warnings.filterwarnings("ignore")

# Load the data

In [7]:
x = pd.read_csv("../trgc10000.csv")
x = x.iloc[:,1:]
y = pd.read_csv("../srlbininfo_10000",sep ="\t",header =None )
y = pd.DataFrame(y.iloc[:,1])
y.columns = ["GC"]

df = pd.concat([y,x],axis =1)

#df = df[df.GC < 20]             # !  Ignore values more than 25
y = pd.DataFrame(df.loc[:,"GC"])

x = df.iloc[:,1:]  #    ! * remove 8000 for original

#Caution X Column up to 8000 above that outlier and y.GC Less than

In [8]:
display(x.head(2))
display(y.head(2))

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V10323,V10324,V10325,V10326,V10327,V10328,V10329,V10330,V10331,V10332
0,0.879025,0.687329,0.983194,0.970820,0.900728,0.735702,0.960757,1.074772,1.597032,1.156174,...,0,0,0,0,0,0,0,0,0,0
1,0.869801,0.620215,1.008849,0.926203,0.884105,0.884811,1.020117,0.987255,1.335856,1.170143,...,0,0,0,0,0,0,0,0,0,0

          GC
0  19.052706
1  17.772070

In [115]:
x_train= None
x_test = None
y_train = None
y_test = None
y_pred_ridge = None
clf_lasso = None ; y_pred_lasso = None

In [87]:
def train_test(size = 0.25 , random_state=50,shuffle = True):
    "size = train size and random state is how the data are mixed and shuffle in to do mixing or not  "
    from sklearn.model_selection import train_test_split
    global x_train,x_test,y_train, y_test
    x_train= None; x_test = None; y_train = None; y_test = None
    x_train,x_test,y_train, y_test = train_test_split(x,y,test_size= size,random_state = random_state , shuffle = shuffle)
    
    return x_train,x_test,y_train, y_test

In [196]:
#train_test() # Calling The Function with default Parameter
#print(y_train.shape)
#display(y_train.head(2))
#print(x_train.shape)
#display(x_train.head())

##  Create a Function for Lasso

In [147]:
#Create a Lasso Model to automatically apply in the loop

def lasso( alpha=1.0, fit_intercept=True, normalize=False, precompute=False, copy_X=True, 
                      max_iter=1000, tol=0.0001, warm_start=False, positive=False,selection='cyclic'):
    
    "Just Pass Related values only"
    
    from sklearn.linear_model import Lasso
    from sklearn.model_selection import train_test_split
    global x_train,x_test,y_train, y_test , clf_lasso , y_pred_lasso
    
    clf_lasso = Lasso(alpha=alpha, fit_intercept=fit_intercept , normalize=normalize, precompute=precompute, copy_X=copy_X, 
                      max_iter=max_iter, tol=tol, warm_start=warm_start, positive=positive,selection=selection).fit(x_test,y_test)
    
    y_pred_lasso = pd.DataFrame(clf_lasso.predict(x_test))
    name = "Lasso"
    # *****************************************************************
    
    print(name +" Coefficient ", clf_lasso.coef_) 
    print(name + " Intercept " , clf_lasso.intercept_,"\n") ##
    print("****"*5+"Accuracy Test Model Fitting "+"****"*5)
    print(name + "Score for train data set :",clf_lasso.score(x_train,y_train))
    print(name + "Score for test data Set",clf_lasso.score(x_test,y_test))

    print(name + "Score for Predictecd data Set",clf_lasso.score(x_test,y_pred_lasso)) ##
    
    print("\n"+"****"*5+"R2 Score"+"****"*5)
    print(name + "R2 Score for test is = ", r2_score(y_test, y_pred_lasso)) ##
    
    print("\n"+"****"*5+"Mean Absolute Error"+"****"*5)
    print(name+ "Mean Absolute Error of Test = ", mean_absolute_error(y_test,y_pred_lasso)) ##
    print(name +"Mean Absolute Error on Train",mean_absolute_error(y_train,pd.DataFrame(clf_lasso.predict(x_train))))
    
    print("\n"+"****"*5+" Mean Squared Error"+"****"*5)
    print(name + "Mean Squared Error of Test = ",mean_squared_error(y_test,y_pred_lasso)) ##
    print(name+"Mean Squared Error on Train = ",mean_squared_error(y_train,pd.DataFrame(clf_lasso.predict(x_train))))
    
    print("\n"+"****"*5+" Co Relation"+"****"*5)
    print(name + "Correlation Test Data ",stats.pearsonr(y_test["GC"],y_pred_lasso[0])[0])
    #print(name + "Correlation Original Data ",stats.pearsonr(y_train["GC"],pd.DataFrame(clf_lasso.predict(x_train))[0])[0])
    
    return clf_lasso

## Function For Ridge Regression

In [ ]:
#Create a Model to automatically apply in the loop

def ridge( alpha = 0.01,copy_X=True,fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001):
    "Just Pass alpha value only"
    
    from sklearn.linear_model import Ridge
    from sklearn.model_selection import train_test_split
    global x_train,x_test,y_train, y_test , clf_ridge , y_pred_ridge
    
    clf_ridge = Ridge(alpha=alpha,copy_X=copy_X,fit_intercept=fit_intercept, max_iter=max_iter, normalize=normalize,
      random_state=random_state, solver=solver, tol=tol).fit(x_test,y_test)
    
    y_pred_ridge = pd.DataFrame(clf_ridge.predict(x_test))
    name = "Ridge"
    # *****************************************************************
    
    print(name +" Coefficient ", clf_ridge.coef_) 
    print(name + " Intercept " , clf_ridge.intercept_,"\n") ##
    print("****"*5+"Accuracy Test Model Fitting "+"****"*5)
    print(name + "Score for train data set :",clf_ridge.score(x_train,y_train))
    print(name + "Score for test data Set",clf_ridge.score(x_test,y_test))

    print(name + "Score for Predictecd data Set",clf_ridge.score(x_test,y_pred_ridge)) ##
    
    print("\n"+"****"*5+"R2 Score"+"****"*5)
    print(name + "R2 Score for test is = ", r2_score(y_test, y_pred_ridge)) ##
    
    print("\n"+"****"*5+"Mean Absolute Error"+"****"*5)
    print(name+ "Mean Absolute Error of Test = ", mean_absolute_error(y_test,y_pred_ridge)) ##
    print(name +"Mean Absolute Error on Train",mean_absolute_error(y_train,pd.DataFrame(clf_ridge.predict(x_train))))
    
    print("\n"+"****"*5+" Mean Squared Error"+"****"*5)
    print(name + "Mean Squared Error of Test = ",mean_squared_error(y_test,y_pred_ridge)) ##
    print(name+"Mean Squared Error on Train = ",mean_squared_error(y_train,pd.DataFrame(clf_ridge.predict(x_train))))
    
    print("\n"+"****"*5+" Co Relation"+"****"*5)
    print(name + "Correlation Test Data ",stats.pearsonr(y_test["GC"],y_pred_ridge[0])[0])
    print(name + "Correlation Original Data ",stats.pearsonr(y_train["GC"],pd.DataFrame(clf_ridge.predict(x_train))[0])[0])
    
    return clf_ridge

### Call the Function in  with different Parameter

In [195]:
#We have 2 Function 
#x_train,x_test,y_train, y_test = train_test_split(x,y,

#***********************************************************
ridge(alpha=.5,copy_X=True,fit_intercept=False, max_iter=1000, normalize=True)

Ridge Coefficient  [[0.39290559 0.30428421 0.31009699 ... 0.         0.         0.        ]]
Ridge Intercept  0.0

********************Accuracy Test Model Fitting ********************
RidgeScore for train data set : 0.5643029664571526
RidgeScore for test data Set 0.9994317330946194
RidgeScore for Predictecd data Set 1.0

********************R2 Score********************
RidgeR2 Score for test is =  0.9994317330946194

********************Mean Absolute Error********************
RidgeMean Absolute Error of Test =  0.07366038946150388
RidgeMean Absolute Error on Train 1.9854445493485642

******************** Mean Squared Error********************
RidgeMean Squared Error of Test =  0.009139891764660213
RidgeMean Squared Error on Train =  7.205606912374376

******************** Co Relation********************
RidgeCorrelation Test Data  0.9998390361199329
RidgeCorrelation Original Data  0.7524815514516072

Ridge(alpha=0.5, copy_X=True, fit_intercept=False, max_iter=1000,
      normalize=True, random_state=None, solver='auto', tol=0.001)

In [162]:
x_test.shape
x_train.shape

(8000, 10332)

In [176]:
new_test = pd.read_csv("../trgc1000.csv")
new_test = new_test.iloc[:,1:]

In [179]:
new_test.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V10323,V10324,V10325,V10326,V10327,V10328,V10329,V10330,V10331,V10332
0,0.879025,0.687329,0.983194,0.970820,0.900728,0.735702,0.960757,1.074772,1.597032,1.156174,...,0,0,0,0,0,0,0,0,0,0
1,0.869801,0.620215,1.008849,0.926203,0.884105,0.884811,1.020117,0.987255,1.335856,1.170143,...,0,0,0,0,0,0,0,0,0,0
2,0.776000,0.859109,1.088169,0.999555,0.874939,0.900284,0.921841,1.000981,1.542597,1.187256,...,0,0,0,0,0,0,0,0,0,0
3,0.830294,0.607093,1.274800,0.874782,0.912154,0.830760,0.982844,1.022367,1.115530,1.213903,...,0,0,0,0,0,0,0,0,0,0
4,0.994159,0.765493,1.102799,0.936201,0.931106,0.787266,1.011050,1.124190,1.803787,1.229195,...,0,0,0,0,0,0,0,0,0,0

In [177]:
new_y = pd.read_csv("../rgcbininfo_1000",sep ="\t",header =None )
new_y = pd.DataFrame(new_y.iloc[:,1])
new_y.columns = ["GC"]

In [182]:
new_y.head(15)

           GC
0   19.052706
1   17.772070
2   14.987733
3   17.656184
4    7.967291
5    7.849717
6   14.039688
7   10.706711
8   18.689057
9   19.317674
10   7.594432
11  13.495284
12   7.273598
13  10.588152
14   3.932720

In [180]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

ridge_ = Ridge(alpha=0.1).fit(x_train,y_train)

In [186]:
y_predict_new = pd.DataFrame(ridge_.predict(new_test))

In [191]:
print( "Correlation Test Data ",stats.pearsonr(new_y["GC"],y_predict_new[0])[0])

Correlation Test Data  0.998046765443608

In [192]:
y_predict_new[0].head(20)

0     19.229047
1     17.084933
2     15.291513
3     17.385744
4      8.155215
5      7.523810
6     14.369128
7     10.475931
8     18.434088
9     19.282836
10     7.648547
11    13.868158
12     7.434146
13    10.504048
14     3.880610
15    14.938145
16    15.614355
17    13.027631
18     9.256032
19    15.374418
Name: 0, dtype: float64

In [175]:
y_train.head()

          GC
0  19.052706
1  17.772070
2  16.200000
3  14.987733
4  17.656184

### Lasso Regression Test

In [148]:
#We have 2 Function 
train_test(size=0.3,random_state=1000, shuffle=True)
lasso( alpha=1.0, fit_intercept=True, normalize=False, precompute=False, copy_X=True,max_iter=1000, tol=0.0001,warm_start=False, positive=False,selection='cyclic')

Lasso Coefficient  [0. 0. 0. ... 0. 0. 0.]
Lasso Intercept  [10.31127327]

********************Accuracy Test Model Fitting ********************
LassoScore for train data set : -0.000887274711019792
LassoScore for test data Set 0.0
LassoScore for Predictecd data Set 1.0

********************R2 Score********************
LassoR2 Score for test is =  0.0

********************Mean Absolute Error********************
LassoMean Absolute Error of Test =  3.1619844408507203
LassoMean Absolute Error on Train 3.154708714515855

******************** Mean Squared Error********************
LassoMean Squared Error of Test =  16.355717701689514
LassoMean Squared Error on Train =  16.497464240063344

******************** Co Relation********************

ValueError: x and y must have the same length.